body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/48-fon-dlya-sayta.png); 
}
div.container {
    width: 1024px;
    margin: auto;
}
img.photo {
    height: 15%;
    width: 15%;
    border-radius: 50%;
    border: 2px grey;
}
div.listOfIcons {
    height: 50px;
}

ul.icons img {
   transition: opacity 0.25s;
}
ul.icons img:hover {
    opacity: 0.5;
}
header ul li {
    display: inline-block;
    padding: 10px;
}

div.introContainer {
    text-align: center;
}
header ul {
    padding-left: 0px;
    border: auto;
    margin: 0;
}
footer {
    padding: 25px;
    text-align: center;
}
div ul.unorderedLists{
    display: inline-block;
}
div.introduction p {
    display: inline-block;
    text-align: center;
}
hr {
    overflow: visible; 
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  padding: 10px;
}

